@import "tailwindcss" source("../");
@plugin "daisyui" {
  themes: all;
}
@font-face {
  font-family: "DejaVu";
  src: url("../assets/fonts/DejaVuSansMNerdFont-Regular.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "DejaVu", sans-serif;
}
